.classpath
.project
.settings
.mvn/
target/
build/
gradle/
test-output/
bin/
dist/
*.log
*-FAILED.txt
*.iml
.idea
.gradle/
runway/FS_ROOT/opt/tomcat/webapps/ROOT.war
runway/FS_ROOT/opt/tomcat/webapps/ROOT.war.original
.DS_STORE
gradlew.bat
